database.default.hostname = localhost
database.default.database = db_pm_kukar
database.default.username = postgres
database.default.password = 123456
database.default.DBDriver = postgre
database.default.port = 5432
JWT_SECRET_KEY = RAHASIA
app.baseURL = 'http://localhost/pm_kukar/public'


email.protocol = ''
email.SMTPHost = ''
email.SMTPPort = 
email.SMTPUser = ''
email.SMTPPass = ''
email.SMTPCrypto = ''
email.fromEmail = ''